@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 80vw;
    font-family: "Poppins", sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
    
}
.navbar li{
    list-style: none;
    margin: 0 12px;
    align-items: center;
    border-top: 20px;
    
}
.section1{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-content{
   display: flex;
   width: 100%;
}
.topleft, .topright{
   width: 50%;
   padding: 20px;
   box-sizing: border-box;
}   

.topleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.dumbbelling{
    width: 270px;
    margin-bottom: -10px;
}
.gym-image{
    width: 135%;
    height: auto;
    object-fit: cover;
}

.logo{
    font-size: 1.4rem;
}
.section2 h1{
    font-size: 2.5rem;
    
}
.section2 p{
    padding: 0 8px;
    text-align: center;
}
.section2{
    padding:73px ;
    
}
.box{
    padding: 8px 0;
    margin: 12px 22px;   
    min-width: 20vw;
    border: 2px solid rgb(11 127 169);
    border-radius: 8px;
    text-align: center;
}
.box h2{
    font-size: 2rem;
    padding: 12px;
}
.highlighted{
    font-size: 1rem;
    font-weight: bolder;
}
.box ul{
list-style: none;
}
.box ul li{
    margin: 12px 2px;
}
.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3 table{
  width: 100%;
  margin-bottom: 140px;
  margin-top: 30px;
  border-collapse: collapse;

}
.section3 table th{
  width: 23vw;
  border-bottom: 2px solid black ;
  padding: 15px 0;

}
.section3 table td{
  
  border-bottom: 2px solid black ;
}
.section3 h1{
    font-size: 2.3rem;
}
.section3{
    padding: 73px;
}
footer{
    padding: 23px;
    text-align: center;
}
.min-h-screen{
    min-height: 100vh;
}
.bg-red{
    background-color: red;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.flex{
    display: flex;
}
.item-centre{
    align-items: center;

}
.justify-between{
    justify-content: space-between;
    align-items: center;
} 
.justify-centre{
    justify-content: center; 
} 
.flex-col{
    flex-direction: column;
}
.font-bold{
   font-weight: 900; 
}
.my-1{
    margin-top: 6px;
    margin-bottom: 12px;
}
.my-2{
    margin-top: 13px;
    margin-bottom: 26px;
}

.px-2{
  padding-left: 13px;
    padding-right: 13px;
}
.text-blue{
    color: rgb(11 127 169); 
}
.btn{
     
    padding: 7px 12px;
    border: 15px solid white;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    background-color:rgb(11 127 169); ;

}
.text-centre{
    text-align: center;
}